# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build outputs
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Cypress recordings
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript incremental build info
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Yarn Plug’n’Play
.pnp.cjs
.pnp.js

# Windows system files
Thumbs.db
ehthumbs.db

# Private keys
*.pem

# Local editor history
.history/
